@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;1,300&family=Montserrat:wght@200;300;400&display=swap');

@theme {
  --font-cormorant: "Cormorant Garamond", serif;
  --font-montserrat: "Montserrat", sans-serif;
}

@keyframes bgFadeOne {
  0%,
  40% {
    opacity: 1;
  }

  50%,
  90% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes bgFadeTwo {
  0%,
  40% {
    opacity: 0;
  }

  50%,
  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.animate-bgFadeOne {
  animation: bgFadeOne 10s infinite ease-in-out;
}

.animate-bgFadeTwo {
  animation: bgFadeTwo 10s infinite ease-in-out;
}